@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');
* {
    padding: 0;
    box-sizing: border-box;    
}
body {
    font-family: 'Montserrat', sans-serif;
}

.table-company{
    margin: auto;
    text-align: center;
}

.add-company-btn {
    display: block;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    outline: none; 
    border:none;
}

table{
    border-spacing: 0.2vw;
}

table td{
    padding: 0.5vw;
}

.add-company-btn {
    color: white;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 10px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.add-company-btn:before {
    content: "";
    
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: rgb(34,193,195);
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.add-company-btn:hover:before {
    transform: translate(4px, 4px);
}

.modal {
    /* position: fixed; */
    height: 30vw;
    width: 30vw;
    transform: scale(0);
    margin: auto;
    margin-top: 2%;
    border-radius: 5vw;
}

.modal.active{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    transform: scale(1);    
}

.model_content{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.close-button{
   color: white;
    margin: 6% 0 0 86%;
    background-color: black;
    border-color: white;
    border-radius: 50%;
    z-index: 2;
    padding: 0 3px 0 3px;
}

.data-list{
    padding-left: 5%;
}
.data-list  input{
    margin-bottom: 2vw;
    border: none;
    border-radius:0 10px 10px 0;   
    
}

.add_button{
    border: none; 
    outline: none;
    display: block;
    margin: auto;
    padding: 4%;
    border-radius: 25vw;
    color: white;
    background: rgb(0,0,0);
}

.action-buttons button{
    margin-left: 2vw;
}

.loading-button{
    display: block;
    outline: none;
    border: none;
    margin: auto;
    margin-bottom: 1vw;
    background:none;
    
}
.loading-button div{
    color: white;
    border-bottom: 1px solid transparent;
 }

.loading-button:hover div{
   border-bottom: 1px solid #fff;
}

.delete-button {
    color: white;
    background: red;
    border: 1px solid white;
    position: relative;
    font-size: 12px;
    border-radius: 0.5vw;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 6px 5px 6px;
    cursor: pointer;
    margin-bottom: 1vw;
}
.change-button{
    color: white;
    background:cornflowerblue;
    border: 1px solid white;
    position: relative;
    font-size: 12px;
    border-radius: 0.5vw;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 6px 5px 6px;
    cursor: pointer;
}

.save-btn{
    color:white;
    background:green;
    border: 1px solid white;
    position: relative;
    font-size: 12px;
    border-radius: 0.5vw;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 6px 5px 6px;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.table-actions, .table-company{
    border: none
}

thead th{
    background-color: #000;
    color: white;
    background: #22c1c3;
    padding: 2% 0 2% 0;
}

.table-company td{
    background: #fdbb2d;
    color: white;
}

thead th:last-child, .table-company td:last-child{
    background: #fff;
    color: white;
    padding: 0;
}

.table-company td:last-child div{
    color: white;
    padding: 0;
    margin:0;
}

tr td{
    border: none
}